{% macro alpine(role='') %}
{% endmacro %}

{% macro centos(role='') %}
{% endmacro %}

{% macro debian(role='') %}
{%- endmacro %}

{% macro ubuntu(role='') %}
{% endmacro %}

{% macro gentoo(role='') %}
{% endmacro %}

{% macro cuda(role='') %}
{% endmacro %}
